.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.tabs {
  justify-content: center;
  gap: 10px;
}

.list::before {
  border-style: none;
}

.tab {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: 15px;
  margin-bottom: 2px;

  &[data-active] {
    z-index: 1;
    background-color: var(--mantine-color-blue-filled);
    border-color: var(--mantine-color-gray-6);
    color: var(--mantine-color-white);

    @mixin hover {
      background-color: var(--mantine-color-blue-filled-hover);
    }
  }
}
